html, body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background: #041d49;
}


#widgets {
    width: 100%;
    height: 100%;
    background-color: #9cc0ff;
}